<div class="background d-none d-md-block"></div>

<!-- Main Container -->
<div class="container height-100">
  <div class="row height-100">

    <!-- Left Section (with Logo and Social Links) -->
    <div class="col col-md-6 col-lg-5 col-12 height-100 d-flex align-items-md-center blurbg">
      <div class="content text-center text-md-right">
        <img class="logo" src="Images/logo.svg" alt="Logo">
        <h1>{{ site.title }}</h1>
        <span class="text description">{{ site.description }}</span>
        <span class="text small-heading">FOLLOW ME ON</span>
        <div class="icons d-flex justify-content-center justify-content-md-end">
          <a class="social-icon" href="https://github.com/{{ site.github_user }}"><img src="Icons/github.svg" alt="Github"></a>
          <a class="social-icon" href="mailto:{{ site.email }}"><img src="Icons/at-sign.svg" alt="Mail"></a>
        </div>
        <span class="text small-heading">LIKE MY WORK</span>
        <a href="#" class="btn btn-outline-dark">Hire Me</a>
      </div>
    </div>

  </div> <!-- End of Row -->
</div> <!-- End of Container -->

<!-- Projects Section - Below the Hire Me Button -->
<div class="container my-5">
  <div class="content text-center">
    <h2 class="text description">My Projects</h2>

    <!-- Project 1 -->
    <div class="project-item">
      <img src="Images/project1.jpg" alt="Project 1" class="img-fluid">
      <h3 class="project-title">Project One</h3>
      <p class="project-description">Brief description of Project One goes here.</p>
      <a href="#" class="btn btn-outline-dark">View Project</a>
    </div>

    <!-- Project 2 -->
    <div class="project-item">
      <img src="Images/project2.jpg" alt="Project 2" class="img-fluid">
      <h3 class="project-title">Project Two</h3>
      <p class="project-description">Brief description of Project Two goes here.</p>
      <a href="#" class="btn btn-outline-dark">View Project</a>
    </div>

    <!-- Project 3 -->
    <div class="project-item">
      <img src="Images/project3.jpg" alt="Project 3" class="img-fluid">
      <h3 class="project-title">Project Three</h3>
      <p class="project-description">Brief description of Project Three goes here.</p>
      <a href="#" class="btn btn-outline-dark">View Project</a>
    </div>

  </div>
</div> <!-- End of Projects Section -->
