<div class="container my-5">
  <div class="content text-center">
    <h2 class="text description">My Projects</h2>

    <!-- Project 1 -->
    <div class="project-item">
      <img src="Images/rs.jpeg" alt="Project 1" class="img-fluid">
      <h3 class="project-title">Jane Street 2024 Kaggle Competition</h3>
      <p class="project-description">Joined by Bram Silue, we are currently working on a machine learning model to predict financial market responders using real-world data.</p>
      <a href="#" class="btn btn-outline-dark">View Project</a>
    </div>

    
  </div>
</div>
