<div class="container my-5">
  <div class="content text-center">
    <h2 class="text description">My Projects</h2>

    <!-- Project 1 -->
   
<div class="project-container">
  <div class="project-details">
      <h2>Jane Street 2024 Kaggle Competition</h2>
      <p>Joined by Bram Silue (AI Lab Brussels; Optiver Challenge Winner HackTheBurgh X), I am currently working on training a machine learning model capable of predicting financial market responders using real-world data.</p>
      <button class="view-button">View Github Page</button>
  </div>
</div>

    
  </div>
</div>

