<div class="container my-5">
  <div class="content text-center">
    <h2 class="text description">My Projects</h2>

    <!-- Project 1 -->
   
<div class="project-container">
  <div class="project-image">
      <img src="Images/rs.jpeg" alt="Project Image">
  </div>
  <div class="project-details">
      <h2>Jane Street 2024 Kaggle Competition</h2>
      <p>Joined by Bram Silue, we are currently working on a machine learning model to predict financial market responders using real-world data.</p>
      <button class="view-button">View Project</button>
  </div>
</div>

    
  </div>
</div>

